/* FORCE UPDATE TEST */

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-box {
  background-color: #f2f2f2;
  padding: 40px;
  min-height: 1000px;
}

.menu-item {
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
}

.navbar {
  border-radius: 0;
}

.navbar-brand {
  font-weight: bold;
  font-size: 20px;
}

.navbar-nav > li > a {
  text-align: center;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
}
