body {
  font-family: Arial, Helvetica, sans-serif;
}

.content-box {
  background-color: #e5e5e5;
  padding: 30px;
  height: 1000px; /* makes section tall */
}

.navbar {
  border-radius: 0;
}

.navbar-nav > li > a {
  text-align: center;
  background-color: #ddd;
  border-bottom: 1px solid #aaa;
}
